body{
    background-color: #F5F5F5;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    font-family: Fira Sans;
}
.navigation{
    display: flex;
    justify-content: space-between;
}
.navButton{
    width: 116px;
    height: 52px;
    padding: 10px;
    font-size: 18px;
    background-color: 006A50;
    border-radius: 8px;
    border: 1px solid black;

}
.navTitle{
    font-size: 32px;
}
.slider{
 margin-top: 40px;
    display: flex;
    justify-content: center;
    padding: 60px 20px;
    background-color: #C6E4D6;
    border-radius: 20px;
}
.bannerimg{
    width: 474px;
    height: 400px;
}
.sliderleft h1{
    font-size: 56px;
    
}
.sliderleft h2{
    font-size: 24px;
    color:#006A50;
    
}
.btn-primary{
    width: 270px;
    height: 56px;
    font-size: 18px;
    background-color: #006A50;
    border: none;
    color: white;
    border-radius: 10px;
}
.singlecard{
    background-color: white;
    width: 302px;
    height: 244px;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* margin-right: 30px; */

}
.carddivmain{
    display: flex;
    justify-content: space-between;
}
.futurediv{
    margin-top: 70px;
}
.cardmainsection{
    margin-top: 70px;
}
.secondCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 410px;
    height: 325px;
    background-color: #d5e1f5;
    padding: 30px;
    border-radius: 15px;
}
.secondCard2{
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: start;
    width: 410px;
    height: 325px;
    background-color: #c6e4d6;
    padding: 30px;
    border-radius: 15px;
}
.secondCard3{
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: start;
    width: 410px;
    height: 325px;
    background-color: #f7ebcf;
    padding: 30px;
    border-radius: 15px;
}
.cardholder{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}
.btn1{
    background-color: #5490F5;
    width: 122px;
    height: 42px;
    border: none;
    border-radius: 10px;
    color: white;
    margin-top: 20px;
}
.btn2{
    background-color: #09A15C;
    width: 122px;
    height: 42px;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}
.btn3{
    background-color: #FFC239;
    width: 122px;
    height: 42px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
}
.quotessec{
    background-image: url("./assets/quote-bg.png") ;
    background-repeat: no-repeat;


    
   
    
}
.quoteshead{
    margin-top: 32px;
    padding: 20px;
    border: none;
    border-radius: 10px;
    background-color: white;
}
.quotesdata{
    padding-top: 30px;
}
.alzajera{
    display: flex;
    padding: 40px;
    background: white;
    border-radius: 30px;
    margin-top: 30px;
}
.aljajeraimg img{
    border-radius: 30px;
   
}
.satelite{
    border-radius: 30px; margin-right: 40px;
}
.albtn{
    background-color: #006a50;
    color: white;
    width: 139px;
    height: 48px;
    font-size: 18px;
    border-radius: 10px;
    border: none;

}
.satelite2text{
    margin-right: 40px;
}
.takabtn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: white;
    width: 280px;
    height: 148px;
}
.takabtn2{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: none;
    background-color: #C6E4D6;
    width: 280px;
    height: 148px;
}
.btnholder{
    display: flex;
    justify-content: space-between;


}
.inputstyle{
    margin-top: 40px;
    width: 100%;
    height: 50px;
    
    border: 1px solid #b6b6b6;
}
input::placeholder {
    color: #b6b6b6;
    font-size: 25px;
    opacity: 0.5;
    text-align: center;
  }
  .buttonstyle{
    width: 180px;
    height: 70px;
    border-radius: 10px;
    color: white;
    font-size: 22px;
    background-color: #006A50;
    border: none;
    margin-top: 25px;
  }
/* .donate{display: flex;
    flex-direction: column;
justify-content: center;
align-items: center;} */